
<nav id="sidebarMenu" class="sidebar d-lg-block bg-gray-800 text-white collapse" data-simplebar>
    <div class="sidebar-inner px-4 pt-3">
        <div class="user-card d-flex d-md-none justify-content-between justify-content-md-center pb-4">
        <div class="d-flex align-items-center">
            <div class="avatar-lg me-4">
            <img src="/static/assets/img/team/profile-picture-3.jpg" class="card-img-top rounded-circle border-white" alt="Bonnie Green">
            </div>
            <div class="d-block">
            <h2 class="h5 mb-3">Hi, Jane</h2>
            <a href="/page-sign-in.html" class="btn btn-secondary btn-sm d-inline-flex align-items-center">
                <svg class="icon icon-xxs me-1" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1"></path></svg>            
                Sign Out
            </a>
            </div>
        </div>
        <div class="collapse-close d-md-none">
            <a href="#sidebarMenu" data-bs-toggle="collapse"
                data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="true"
                aria-label="Toggle navigation">
                <svg class="icon icon-xs" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                </a>
        </div>
        </div>
        <ul class="nav flex-column pt-3 pt-md-0">

        <li class="nav-item {% if 'production-read-all.html' in segment or 'production-update.html' in segment or 'production-create.html' in segment or 'recipe-production.html' in segment %} active {% endif %}">
            <a href="{% url "production-read-all-page" %}" class="nav-link d-flex align-items-center justify-content-between">
                <span>
                <span class="sidebar-icon">
                    <svg class="icon icon-xs me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M8.707 7.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l2-2a1 1 0 00-1.414-1.414L11 7.586V3a1 1 0 10-2 0v4.586l-.293-.293z"></path><path d="M3 5a2 2 0 012-2h1a1 1 0 010 2H5v7h2l1 2h4l1-2h2V5h-1a1 1 0 110-2h1a2 2 0 012 2v10a2 2 0 01-2 2H5a2 2 0 01-2-2V5z"></path></svg>
                </span>
                <span class="sidebar-text">Produksi</span>
                </span>
            </a>
        </li>
        <li class="nav-item {% if 'purchase-read-all.html' in segment %} active {% endif %}">
            <a href="{% url "purchase-read-all-page" %}" class="nav-link d-flex align-items-center justify-content-between">
                <span>
                <span class="sidebar-icon">
                    <svg class="icon icon-xs me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M4 4a2 2 0 00-2 2v1h16V6a2 2 0 00-2-2H4z"></path><path fill-rule="evenodd" d="M18 9H2v5a2 2 0 002 2h12a2 2 0 002-2V9zM4 13a1 1 0 011-1h1a1 1 0 110 2H5a1 1 0 01-1-1zm5-1a1 1 0 100 2h1a1 1 0 100-2H9z" clip-rule="evenodd"></path></svg>
                </span>
                <span class="sidebar-text">Pembelian</span>
                </span>
            </a>
        </li>
        <li class="nav-item {% if 'recipe-read-all.html' in segment or 'recipe-update.html' in segment or 'recipe-create.html' in segment or 'recipe-delete.html' in segment %} active {% endif %}">
            <a href="{% url "recipe-read-all-page" %}" class="nav-link d-flex align-items-center justify-content-between">
                <span>
                <span class="sidebar-icon">
                    <svg class="icon icon-xs me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M9 2a1 1 0 000 2h2a1 1 0 100-2H9z"></path><path fill-rule="evenodd" d="M4 5a2 2 0 012-2 3 3 0 003 3h2a3 3 0 003-3 2 2 0 012 2v11a2 2 0 01-2 2H6a2 2 0 01-2-2V5zm3 4a1 1 0 000 2h.01a1 1 0 100-2H7zm3 0a1 1 0 000 2h3a1 1 0 100-2h-3zm-3 4a1 1 0 100 2h.01a1 1 0 100-2H7zm3 0a1 1 0 100 2h3a1 1 0 100-2h-3z" clip-rule="evenodd"></path></svg>
                </span>
                <span class="sidebar-text">Resep</span>
                </span>
            </a>
        </li>
        <li class="nav-item {% if 'ingredient-read-all.html' in segment or 'ingredient-update.html' in segment or 'ingredient-create.html' in segment or 'ingredient-delete.html' in segment %} active {% endif %}">
            <a href="{% url "ingredient-read-all-page" %}" class="nav-link d-flex align-items-center justify-content-between">
                <span>
                <span class="sidebar-icon">
                    <svg class="icon icon-xs me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M4 3a2 2 0 100 4h12a2 2 0 100-4H4z"></path><path fill-rule="evenodd" d="M3 8h14v7a2 2 0 01-2 2H5a2 2 0 01-2-2V8zm5 3a1 1 0 011-1h2a1 1 0 110 2H9a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
                </span>
                <span class="sidebar-text">Bahan</span>
                </span>
            </a>
        </li>
        <li class="nav-item {% if 'supplier-read-all.html' in segment or 'supplier-update.html' in segment or 'supplier-create.html' in segment or 'supplier-delete.html' in segment %} active {% endif %}">
            <a href="{% url "supplier-read-all-page" %}" class="nav-link d-flex align-items-center justify-content-between">
            {% comment %} <a href="/suppliers" class="nav-link d-flex align-items-center justify-content-between"> {% endcomment %}
                <span>
                <span class="sidebar-icon">
                    <svg class="icon icon-xs me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M9 6a3 3 0 11-6 0 3 3 0 016 0zM17 6a3 3 0 11-6 0 3 3 0 016 0zM12.93 17c.046-.327.07-.66.07-1a6.97 6.97 0 00-1.5-4.33A5 5 0 0119 16v1h-6.07zM6 11a5 5 0 015 5v1H1v-1a5 5 0 015-5z"></path></svg>
                </span>
                <span class="sidebar-text">Supplier</span>
                </span>
            </a>
        </li>
        <li class="nav-item {% if 'adjustment-read-all.html' in segment or 'adjustment-update.html' in segment or 'adjustment-create.html' in segment or 'adjustment-delete.html' in segment %} active {% endif %}">
            <a href="{% url "adjustment-read-all-page" %}" class="nav-link d-flex align-items-center justify-content-between">
                <span>
                <span class="sidebar-icon">
                    <svg class="icon icon-xs me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M5 3a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2V5a2 2 0 00-2-2H5zM5 11a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2v-2a2 2 0 00-2-2H5zM11 5a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V5zM11 13a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z"></path></svg>
                </span>
                <span class="sidebar-text">Stok Opname</span>
                </span>
            </a>
        </li>
        
        </ul>
    </div>
</nav>

<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>