{% load static %}

<tr>
    <td><span class="fw-normal">{{production.datetime}}</span></td>
    <td><span class="fw-normal">{{production.notes}}</span></td>                        
    <td>
        <a href="{% url "production-update-page" production.pk %}">
            <button class="btn btn-link m-0 p-0">
                <i class="far fa-edit" title="Ubah" data-bs-toggle="tooltip"></i>
            </button>
        </a>
        <a href="{% url "production-delete-page" production.pk %}">
            <button class="btn btn-link m-0 p-0">
                <i class="far fa-trash-alt" title="Hapus" data-bs-toggle="tooltip"></i>
            </button>
        </a>
    </td>
</tr>

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}