{% load static %}

<tr>
    <td><span class="fw-normal">{{supplier.name}}</span></td>                        
    <td>
        <a href="{% url "supplier-update-page" supplier.slug %}">
            <button class="btn btn-link m-0 p-0">
                <i class="far fa-edit" title="Ubah" data-bs-toggle="tooltip"></i>
            </button>
        </a>
        <button class="btn btn-link m-0 p-0">
            <i class="far fa-trash-alt" title="Hapus" data-bs-toggle="tooltip"></i>
        </button>
    </td>
</tr>

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}